asgiref==3.6.0
backports.zoneinfo==0.2.1
cffi==1.15.1
cryptography==39.0.0
Django==4.1.5
mysql-connector-python==8.0.32
mysqlclient==2.1.1
protobuf==3.20.3
pycparser==2.21
PyMySQL==1.0.2
sqlparse==0.4.3
