/* .mainpage {

} */

.mainpage-bigtext {
    margin-top: 50px;
    font-family: 'Cardo';
    font-weight: 400;
    font-size: 48px;
    line-height: 0px;
    text-align: center;
    color: #000000;
    text-decoration-line: underline;
    text-decoration-color: #FBC420;
    text-underline-offset: -0.1rem;
    text-decoration-skip-ink: none;
}

.mainpage-smalltext {
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}