@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500&display=swap');

.show-class {
    position: relative;
}

.course-instructor {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    color: #181818;
    display: inline-block; 
}

.course-instructor ul {
    display: inline-block; 
    list-style-type: none;
}

.course-name {
    margin: 20px;
    padding: 0;
}
  
.course-name, .course-instructor li {
    display: inline-block;
    align-items: center;
    margin-right: 10px; /* add some space between items */
}

.course-name, .course-instructor li:last-child {
    margin-right: 0; /* remove margin from last item */
}

.reset-style, .reset-style * {
    all: revert;
}

.tag-div {
    flex-wrap: nowrap;
    display:flex;
    justify-content: right;
}
