@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins:wght@700&display=swap');

.ai-summary-text {
    display: block;
}

.ai-summary-text1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #1B1C1E;
}

.ai-summary-text2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: #1B1C1E;
}

.ai-summary-text3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px; /* Make font size responsive */
    line-height: 28px;
    letter-spacing: 1.5px;
    color: #1B1C1E;
    margin-top: 30px;
    
}