@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Poppins:wght@700&display=swap');

/* Style of font */
.course-name-tag {
    /* Style of font */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw; /* Make font size responsive */
    line-height: 1.3vw; /* Make line height responsive */
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.025em;
    color: #1B1C1E;

    /* Style for tag div */
    height: 6.4vh; /* Make height responsive */
    border: 0.8px solid #1B1C1E;
    border-radius: 20px;
    padding: 0 3vw; /* Make padding responsive */
}

.course-name-tag p {
    text-align: center;
    margin: 0; /* Center the text inside the tag */
}
