@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Poppins:wght@700&display=swap');

.difficulty-icon {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 96px; /* Make width responsive */
    height: 96px; /* Make height responsive */
    background: #FFFFFF;
    border-radius: 50%; 
}

.difficulty-icon .icon {
    width: 85%;
    height: auto;
}


.difficulty-flex {
    display: flex;
    align-items: flex-end;
}

.difficulty-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px; /* Make font size responsive */
    line-height: 18px; /* Make line height responsive */
    letter-spacing: 0.025em;
    color: #FFFFFF;
    margin-right: 25px;
}

.difficulty-rate {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 50px; /* Make font size responsive */
    line-height: 50px; /* Make line height responsive */
    letter-spacing: 0.025em;
    color: #FFFFFF;
}
