@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Poppins:wght@700&display=swap');

.difficulty {
    /* Style for tag div */
    position: relative;
    height: 27vh; /* Make height responsive */
    width: 20vw; /* Make width responsive */
    background: #1B1C1E;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}


.difficulty-text {
    position: absolute;
    left: 10%; /* Make position responsive */
    bottom: 3%; /* Make position responsive */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4vw; /* Make font size responsive */
    line-height: 1.5vw; /* Make line height responsive */
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}

.difficulty-rate {
    position: absolute;
    right: 15%; /* Make position responsive */
    bottom:7%; /* Make position responsive */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2vw; /* Make font size responsive */
    line-height: 2vw; /* Make line height responsive */
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}

.difficulty-icon {
    position: absolute;
    left: 10%; /* Make position responsive */
    top: 15%; /* Make position responsive */

    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 5vw; /* Make width responsive */
    height: 5vw; /* Make height responsive */
    background: #FFFFFF;
    border-radius: 50%; 
}
.difficulty-icon img {
    width: 85%;
    height: auto;
}