.custom-dropdown .dropdown-toggle {
    font-size: 15px; /* Adjust the font size to match CheckBox */
    padding: 0.5rem 5rem; /* Adjust the padding to match CheckBox */
  }
  
  .custom-dropdown .dropdown-menu {
    font-size: 15px; /* Adjust the font size to match CheckBox */
    line-height: 15px;
  }
  