@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Poppins:wght@700&display=swap');

.overall-rating {
    /* Style for tag div */
    position: relative;
    height: 300px;
    width: 200px;
}

.overall-rating p {
    margin: 0px;
}


.overall-rating-text {
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.025em;
    color: #1B1C1E;
    white-space: nowrap;
}


.overall-rating-actual-rate {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%);

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.025em;
    color: #1B1C1E;
}

.overall-rating-full-rate {
    position: absolute;
    left: 88%;
    top: 65%;
    transform: translateX(-50%);

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.025em;
    color: #1B1C1E;
}

.overall-rating-icon {
    position: absolute;
    left: 53%;
    top: 0%;
    transform: translateX(-50%);


}