@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Poppins:wght@700&display=swap');

.overall-rating {
    /* Style for tag div */
    position: relative;
    height: 33vh; /* Make height responsive */
    width: 15vw; /* Make width responsive */
    /* background-color: aquamarine; */
}

.overall-rating p {
    margin: 0px;
}


.overall-rating-text {
    position: absolute;
    left: 50%;
    top: 85%; /* Make position responsive */
    transform: translateX(-50%);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2vw; /* Make font size responsive */
    line-height: 1.8vw; /* Make line height responsive */
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.025em;
    color: #1B1C1E;
    white-space: nowrap;
}


.overall-rating-actual-rate {
    position: absolute;
    left: 50%;
    bottom: 13%; /* Make position responsive */
    transform: translateX(-50%);

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 4.3vw; /* Make font size responsive */
    line-height: 4.3vw; /* Make line height responsive */
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.025em;
    color: #1B1C1E;
}

.overall-rating-full-rate {
    position: absolute;
    left: 80%; /* Make position responsive */
    bottom: 13%; /* Make position responsive */
    transform: translateX(-50%);

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw; /* Make font size responsive */
    line-height: 2.8vw; /* Make line height responsive */
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.025em;
    color: #1B1C1E;
}

.overall-rating-icon {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    width: 12vw; /* Make icon width responsive */
}

.overall-rating-icon img {
    width: 100%;
    height: auto;
}