@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Poppins:wght@700&display=swap');

.overall-rating {
    /* Style for tag div */
    display: block;
    text-align: center;
    /* background-color: aquamarine; */
}

.overall-rating p {
    margin: 0px;
}

/* .overall-rating-icon img {
    width: 100%;
    height: auto;
} */

.overall-rating-rate {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.overall-rating-actual-rate {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 65px; /* Make font size responsive */
    line-height: 65px; /* Make line height responsive */
    letter-spacing: 0.025em;
    color: #1B1C1E;
}

.overall-rating-full-rate {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.025em;
    color: #1B1C1E;
}

.overall-rating-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px; /* Make font size responsive */
    line-height: 18px; /* Make line height responsive */
    letter-spacing: 0.025em;
    color: #1B1C1E;
}

