@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500&display=swap');


.diagram-container {
    margin-top: 20px;
    height: 351px;
    background: #C0B7B1;
    border-radius: 10px;
}
