@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Poppins:wght@700&display=swap');

.rate-course-tag {
    /* Style for font */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-flex; 
    letter-spacing: 0.025em;
    color: #FFFFFF;

    /* Style for tag div */
    height: 60px;
    background: #7B61FF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 0 60px;
}

.rate-course-tag p {
    text-align: center;
    margin: 0; /* Center the text inside the tag */
}
