@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Poppins:wght@700&display=swap');

.rate-course {
    position: relative;
    width: 300px;
    height: 230px;
}

.rate-course-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.rate-course-tag {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 165px;
    /* Style for font */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-flex; 
    letter-spacing: 0.025em;
    color: #FFFFFF;
    white-space: nowrap;

    /* Style for tag div */
    height: 60px;
    background: #7B61FF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 0 60px;
}

.rate-course * {
    margin: 0;
}