@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins:wght@700&display=swap');

.review-card {
    /* Style for tag div */
    display: flex;
    flex-direction: column;
    padding: 3.5vh; /* Make padding responsive */
    gap: 2vh; /* Make gap responsive */
    width: 100%; /* Make width responsive */
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.review-card p {
    margin: 1vw;
    margin-bottom: 0px;
}

.review-card-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.review-card-head-semester {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #dfd000;
}

.review-card-head-icon {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
}

.review-card-head-icon p {
    margin-bottom: 0;
}

.review-card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #1B1C1E;
    margin-top: 20px;
}

.review-card-paragraph {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px; /* Make font size responsive */
    line-height: 28px;
    letter-spacing: 1.5px;
    color: #1B1C1E;
    margin-top: 20px;
}
