@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500&display=swap');


.course-review{

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;

    position: absolute;

    height: 329px;


    margin-top: 470px;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.course-review-head ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .course-review-head li {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #808080;
    font-size: 26px;
    margin-right: 10px;
    list-style: none;
  }
  

.professor-review{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;

    position: absolute;
    width: 45%;
    height: 329px;
    right: 0px;
    margin-top: 470px;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.course-review,
.professor-review {
 /* adjust to desired height */
  overflow: auto;
}

