@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Poppins:wght@500;700&display=swap');

.syllabus {
    display: block;
    text-align: center;
}

.syllabus p {
    margin: 0;
}


.card-clickable {
    cursor: pointer;
  }
  
.syllabus-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.025em;
    color: #1B1C1E;
}

.syllabus-date {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1B1C1E;
    white-space: nowrap;
}


.syllabus-icon {
    margin-top: 20px;
    margin-bottom: 20px;
}