.syllabus {
    display: flex;
    justify-content: flex-end; /* align content to the right */
    align-items: center;
    padding-right: 10%; /* add some right padding */
    top: 50%;
    transform: translate(0, 40%);
}

.syllabus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.syllabus-container div {
    margin-bottom: 5px;
    margin-right: 0;
    margin-left: 0;
}
  
.pdf-container {
    width: 90px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.syllabus-text {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
  
.update-text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
  