body {
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

h2 {
  margin-bottom: 30px;
}

ul.list-group {
  margin-bottom: 30px;
}

li.list-group-item {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

li.list-group-item:hover {
  background-color: #f2f2f2;
}

h3 {
  margin-top: 0;
}

p {
  margin-bottom: 10px;
}

